li {
  list-style: none;
}

ul {
  display: flex;
  padding-right: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  background: rgb(52, 11, 140);
  background: linear-gradient(
    180deg,
    rgba(52, 11, 140, 1) 0%,
    rgba(14, 3, 38, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 150px;
}

.gameContainer {
  background: rgb(68, 11, 191);
  background: linear-gradient(
    159deg,
    rgba(68, 11, 191, 1) 0%,
    rgba(52, 11, 140, 1) 25%,
    rgba(24, 6, 64, 1) 75%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 19vw;
  opacity: 0.6;
  transition: 0.6s;
}

.gameContainer:hover {
  opacity: 1;
  transition: 0.6s;
}

.botao {
  background-color: rgb(68, 11, 191);
  color: white;
  border-radius: 20px;
  border: none;
  width: 20vw;
  height: 8vh;
}

.myGames {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.favoritegame {
  display: flex;
  justify-content: center;
  background-color: rgb(68, 11, 191);
  padding: 1px;
  border-radius: 20px;
  width: 60vw;
  margin-bottom: 5px;
  transition: 0.6s;
}

.favoritegame:hover {
  transition: 0.6s;
  background-color: #F03E3E;
}